{% extends 'home.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <script src="{% static 'main_app/js/post.js' %}"></script>
{% endblock %}

{% block center %}
<div class="center atigram-card">
    <a href="{% url 'home' %}" class="back-link">
      <span class="material-icons-outlined icon">arrow_back</span>
      {% trans "Volver" %}
    </a>
    <div class="feed atigram-card">
        <div class="post-info">
            <a class="user-info" href="{% url 'profile' post.usuario.id %}">
                <img class="profile-picture" src="{{ post.usuario.pfp_url }}">
                <div class="post-tag">
                    <span class="tiny-info">{% trans "Publicado hace" %} {{ post.fecha_creacion }}</span>
                    <label class="larger-name">{{post.usuario.nombre}}</label>
                </div>
            </a>
            <button class="post-conf">
                ⋮
            </button>
        </div>

        <div class="post-content">
            <span id="post-text">{{post.contenido|safe|linebreaksbr}}</span><span id="dots">...</span><span id="more"></span>
            <button class="readMore" href="#">{% trans "Ver más" %}</button>
        </div>
        <div class="reaction-bar">
            <button class="like-btn">
                <span class="material-icons-outlined icon">favorite_border</span>
                {{ post.reacciones }}
            </button>
            <button class="comments-btn">
                <span class="material-icons-outlined icon">chat_bubble</span>
                {{ numComments }}
            </button>
        </div>

        <label class="comment-section">{% trans "Comentarios" %}</label>
        <form id="comment-write-bar" method="POST"> {% csrf_token %}
            <textarea class="search-bar" id="comment-bar" type="text" placeholder="{% trans "Escribir Comentario" %}" name="comment"></textarea>
            <button class="btn-send" type="submit">
                <span class="material-icons icon">send</span>
            </button>
        </form>

        {% include 'commentsTemplate.html' %}
    </div>
</div>
{% endblock %}

{% block notifications_popup %}
    {% include 'notification_popup.html' %}
{% endblock %}
    