{% extends 'home.html' %}
{% load static %}

{% block title %}Feed - {{ block.super }}{% endblock %}

{% block feed %}
<div class="profile-card">
    <img class="profile-picture" src="C:\Users\Sofía\Pictures\Untitled.png">
    <label>Jesús Cova</label>
    <a class="number-friends">901 amigos</a>
    <p class="profile-desc">A short description about some guy</p>
    <button class="btn-edit-profile">Editar perfil</button>
</div>
<div class="feed">

</div>
<div class="my-friends"> 
    <label>Mis amigos</label>

</div>
{% endblock %}