{% extends 'home.html' %}
{% load static %}

{% block feed %}
<div class="feed atigram-card">
    <div class="user-info">
        <img class="profile-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQytc93VfA29gwZ4w1ySdWjx1CSJBM6qGG3BA&s">
        <div class="post-tag">
            <span class="tiny-info">Publicado hace 11hrs</span>
            <label class="larger-name">Valeria Ciccolella</label>
        </div>
    </div>
    <div class="post-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec mauris non sapien iaculis pharetra. Sed volutpat nulla sed porttitor malesuada. Nullam eget varius felis. Class aptent taciti sociosqu ad litora torquent per conubia nostrais... Ver más
        </p>
    </div>
    <div class="reaction-bar">
        <button>10mil</button>
        <button>24</button>
    </div>
</div>

{% endblock %}