{% load i18n %}


<div class="my-friends atigram-card"> 
    <a href="{% url 'home' %}" class="back-link">
      <span class="material-icons-outlined icon">arrow_back</span>
      {% trans "Volver" %}
    </a>
    <label class="larger-name">{% trans "Mis amigos" %}</label>
    {% if friendList %}
        {% for friend in friendList %}
        <a class="user-info mrk-border" href="{% url 'profile' friend.usuario.id %}">
            <img class="profile-picture" src="{{friend.usuario.pfp_url}}">
            <div class="friend-tag">
                <label class="tiny-name">{{friend.usuario.nombre}}</label>
                <div class="tiny-info">
                    {% if friend.active %}
                        {% trans "Activo ahora" %}
                    {% else %}
                        {% trans "Activo hace" %} {{friend.lastActive}}
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <a class="tiny-info" href="#">{% trans "Conecta con otros usuarios!" %}</a>
    {% endif %}
</div>