{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="home-content">
    <div class="profile-card atigram-card">
        <img class="profile-picture" src="{{ user.pfp_url }}">
        <label class="profile-card-name">{{ user.nombre|safe }}</label>
        <a class="tiny-info">3 {% trans "amigos" %}</a>
        <p class="profile-desc">{{ user.descripcion|safe }}</p>
        <button class="btn-edit-profile">
            <span class="material-icons icon">edit</span>
            {% trans "Editar perfil" %}
        </button>
    </div>
    {% block center %}
    {% endblock %}
</div>

{% endblock %}

{% block notifications_popup %}
    {% include 'notification_popup.html' %}
{% endblock %}