{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - {{ block.super }}{% endblock %}

{% block content %}
<div class="home-content"> 
    <div class="profile-card atigram-card">
        <img class="profile-picture" src="">
        <label>Jesús Cova</label>
        <a class="number-friends">901 amigos</a>
        <p class="profile-desc">A short description about some guy</p>
        <button class="btn-edit-profile">Editar perfil</button>
    </div>
    <div class="center atigram-card">
        <div class="post atigram-card">
            <img class="profile-picture" src="">
            <input class="search-bar" type="text" placeholder="¿Qué estas pensando?">
        </div>
        <div class="feed atigram-card">
            Nothing here
        </div>
    </div>
    <div class="my-friends atigram-card"> 
        <label>Mis amigos</label>

    </div>
</div>

{% endblock %}