{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Inicio - {{ block.super }}{% endblock %}

{% block extra_css %}
    <script src="{% static 'main_app/js/post.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center profile-content">
    <div class="user-profile-wrapper">
        <div class="user-profile-container">
       
          <img class="profile-picture" src="{{ user.pfp_url }}">
        
        <div class="user-profile-info">
          <label class="profile-card-name">{{ user.nombre|safe }}</label>
          <a class="tiny-info">3 {% trans "amigos" %}</a>
          <p class="profile-desc">{{ user.descripcion|safe }}</p>
        </div>
      </div>
      
      <div class="button-container">
        {% if user.id == logged_user %}
        <button class="btn-edit-profile">
          <span class="material-icons icon">edit</span>
          {% trans "Editar perfil" %}
        </button>
        {% endif %}
      </div>
    </div>

    <div class="atigram-card" id="post">
            <div id="post-user-info" style="display: none;">
                <img class="profile-picture" id="post-pfp" src="{{ user.foto }}" >
                <label id="post-user-name">{{ user.nombre|safe }}</label>
            </div>
            <div id="post-write-bar">
                <textarea class="search-bar" id="post-bar" type="text" placeholder="{% trans "¿Qué estas pensando?" %}"></textarea>
            </div>
            <div id="createPost-options"> 
                <div id="add-multimedia">
                    <label for="multimedia-upload" id="multimedia-upload-btn">
                        <span class="material-icons icon">image</span>
                        {% trans "Añadir Multimedia" %}
                    </label>
                    <input id="multimedia-upload" type="file"> 
                </div>
                <div class="createPost-btns-bar">
                    <button class="btn-edit-profile" id="save-draft-btn">{% trans "Guardar Borrador" %}</button>
                    <button class="btn-edit-profile" id="post-btn">{% trans "Publicar" %}</button>
                </div>
            </div>
        </div>
    <h4 class="profile-feed-title">{% trans "Mi muro" %}</h4>
    {% include 'postTemplate.html' %}
</div>

<style>

</style>
{% endblock %}

{% block notifications_popup %}
{% include 'notification_popup.html' %}
{% endblock %}