{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATIgram</title>

  <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}" />

  <!-- Roboto Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.g/static.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

</head>

<body class="login-body">
  <div class="gradient-background register">
    <img class="fingerprint" src="{% static '/img/icons/fingerprint-register.svg' %}" alt="fingerprint icon">
  </div>

    <h3 class="login-h3">{% trans 'Registrate' %}</h3>
    <form class="register-form" action="#" method="post">

        <div class="input-group">
          <input type="text" placeholder="{% trans 'Usuario' %}" name="username" required>
          <input type="text" placeholder="{% trans 'Apellido' %}" name="last-name" required>
          <input type="password" placeholder="{% trans 'Contraseña' %}" name="password" required>
          <input type="password" placeholder="{% trans 'Confirmar Contraseña' %}" name="confirm-password" required>
          <input type="email" placeholder="{% trans 'Correo' %}" name="Email" required>
          <input type="tel" placeholder="{% trans 'Teléfono' %}" name="Phone" required>
        </div>

      <button type="submit" class="primary-btn">{% trans "Registrarme" %}</button>

      <div class="text-action login">
        <a href="/login">{% trans "¿Ya tienes cuenta? Inicia sesión." %}</a>
      </div>
    </form>
</body>

</html>
{% endblock %}
