/* Estilos personalizados para Proyecto ATI */

/* Variables CSS */
:root {
  --primary-color: #00C8C0;

  --green-950: #03302D;
  --green-800: #0F6058;
  --green-700: #0D786B;
  --green-600: #0A9785;
  --green-500: #10BCA2;
  --green-400: #25CBAF;
  --green-300: #5BEDD0;
  --green-200: #97F8E1;
  --green-100: #CBFCF0;
  --green-50: #F0FDF9;

  --grey-100: #d9d9d9;
  --grey-200: #AFAFAF;
  --grey-400: #8b8b8b;
  --grey-800: #333333;
  --grey-950: #1e1e1e;

  --error: #f95050;

  /* Font-size desktop */
  --H1-desktop: 48px;
  --H2-desktop: 40px;
  --H3-desktop: 34px;
  --H4-desktop: 28px;
  --H5-desktop: 24px;
  --H6-desktop: 20px;
  --p-desktop: 16px;

  /* Font-size mobile */
  --H1-mobile: 34px;
  --H2-mobile: 28px;
  --H3-mobile: 24px;
  --H4-mobile: 20px;
  --H5-mobile: 18px;
  --H6-mobile: 16px;
  --p-mobile: 14px;

  /* Font-family */
  --font-family: "Roboto", sans-serif;
}

/* Estilos globales */
body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: #000000;
  background-color: var(--green-50);
  margin: 0;
  font-size: clamp(var(--p-mobile), var(--p-desktop), var(--p-desktop));
}

.icon {
  height: auto;
  width: 30px;
  vertical-align: middle;
}

.home-content{
  display: flex;
  gap: 1rem;
}

/* Navbar personalizada */
.navbar {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 6.5%;
  font-size: clamp(var(--p-mobile), 2vw, var(--p-desktop));
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color:white;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
}

.search-friends {
  display: flex;
  align-items: center;
}

.search-person {
  background-color: transparent;
  border: none;
}

.search-bar {
  border-radius: 20px;
  background-color: var(--green-100);
  color: var(--green-600);
  font-family: var(--font-family);
  font-size: clamp(var(--p-mobile), 2vw, var(--p-desktop));
  border: 1px solid var(--green-600);
  padding: .4rem 1em;
  resize: none;
}

textarea.search-bar {
  padding: 0.4em 1em;
}

#navbar-menu {
  display: flex;
  flex-basis: auto;
}

.navbar-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.nav-item {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  align-content: center;
}

.nav-link, .nav-chat {
  align-self: center;
  display: block;
  padding: .5rem .7rem;
  text-decoration: none;
  color: var(--grey-100);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link .navbar-icon {
  width: 25px;
}

.nav-chat {
  margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}


/* Responsive design */
@media (max-width: 992px) {
  input.search-bar, .profile-card, .my-friends, .navbar-nav {
    display: none;
  }

  .search-friends {
    margin-left: auto;
  }
}
