/* Estilos personalizados para Proyecto ATI */

/* Variables CSS */
:root {
  --primary-color: #00c8c0;

  --green-950: #03302d;
  --green-800: #0f6058;
  --green-700: #0d786b;
  --green-600: #0a9785;
  --green-500: #10bca2;
  --green-400: #25cbaf;
  --green-300: #5bedd0;
  --green-200: #97f8e1;
  --green-100: #cbfcf0;
  --green-50: #f0fdf9;

  --grey-100: #d9d9d9;
  --grey-200: #afafaf;
  --grey-400: #8b8b8b;
  --grey-800: #333333;
  --grey-950: #1e1e1e;

  --error: #f95050;

  /* Font-size desktop */
  --H1-desktop: 48px;
  --H2-desktop: 40px;
  --H3-desktop: 34px;
  --H4-desktop: 28px;
  --H5-desktop: 24px;
  --H6-desktop: 20px;
  --p-desktop: 16px;

  /* Font-size mobile */
  --H1-mobile: 34px;
  --H2-mobile: 28px;
  --H3-mobile: 24px;
  --H4-mobile: 20px;
  --H5-mobile: 18px;
  --H6-mobile: 16px;
  --p-mobile: 14px;

  /* Font-family */
  --font-family: "Roboto", sans-serif;
}

/* Estilos globales */
body {
  font-family: var(--font-family);
  line-height: 1.6;
  color: #000000;
  background-color: var(--green-50);
  margin: 0;
  font-size: clamp(var(--p-mobile), var(--p-desktop), var(--p-desktop));
}

.icon {
  vertical-align: middle;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  gap: 1rem;
  margin-top: 1rem;
}

.home-content {
  display: flex;
  gap: 1rem;
  width: 75%;
}

/* Navbar personalizada */
.navbar {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 6.5%;
  font-size: clamp(var(--p-mobile), 2vw, var(--p-desktop));
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.search-friends {
  display: flex;
  align-items: center;
}

.search-person {
  background-color: transparent;
  border: none;
  color: white;
}

.search-person .icon, .nav-chat .icon {
  font-size: 30px;
}

.search-bar {
  border-radius: 20px;
  background-color: var(--green-100);
  color: var(--green-600);
  font-family: var(--font-family);
  font-size: clamp(var(--p-mobile), 2vw, var(--p-desktop));
  border: 1px solid var(--green-600);
  padding: 0.4rem 1em;
  resize: none;
}

textarea.search-bar {
  padding: 0.4em 1em;
}

#navbar-menu {
  display: flex;
  flex-basis: auto;
}

.navbar-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.nav-item {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  align-content: center;
}

.nav-link,
.nav-chat {
  align-self: center;
  display: block;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  color: var(--grey-100);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link .navbar-icon {
  width: 25px;
}

.nav-chat {
  margin-left: 1rem;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

/* Mobile navbar */
.mobile-navbar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* mask: linear-gradient(transparent, black, black); */
  backdrop-filter: blur(3px);
  height: 65px;
}

.mobile-navbar .nav-link {
  border: 1px solid var(--grey-200);
  border-radius: 25px;
  color: var(--grey-200);
  font-weight: 500;
  font-size: var(--p-mobile);
  background-color: var(--green-50);
}

.mobile-navbar .nav-link:hover {
  border: 1px solid var(--green-800);
  color: var(--green-800);
  font-weight: bold;
  background-color: var(--green-100);
}

/* contenido de la pagina*/
.atigram-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 1rem;
  height: fit-content;
}

.larger-name {
  color: var(--grey-800);
  font-size: clamp(var(--H5-mobile), 2.5vw, var(--H5-desktop));
  font-weight: bold;
}

.tiny-info {
  color: var(--grey-200);
  font-size: clamp(var(--p-mobile), 2.5vw, var(--p-desktop));
}

.profile-picture {
  border-radius: 100px;
  margin: 5px 15px 5px 5px;
  align-self: center;
}

.profile-card {
  width: 30%;
}

.my-friends {
  width:25%;
}

/* Seccion de carta de perfil */
.profile-card .profile-picture {
  margin: 0;
  height: auto;
  width: 174px;
  align-self: auto;
}

.profile-card-name {
  color: var(--grey-800);
  font-size: clamp(var(--H4-mobile), 2vw, var(--H4-desktop));
  font-weight: bold;
}

.profile-card .tiny-info {
  text-decoration: underline;
}

.profile-desc {
  margin: 0;
}

.btn-edit-profile {
  border-radius: 20px;
  background-color: var(--grey-200);
  color: white;
  border: none;
  margin: 1em 0;
  font-size: var(--H6-mobile);
  font-weight: bold;
  font-family: var(--font-family);
  padding: 0.3rem 0;
}

.btn-edit-profile .icon {
  font-size: 20px;
}

/* Seccion de feed */
.center {
  width: 70%;
  background-color: transparent;
  padding: 0;
  row-gap: 1rem;
  overflow-y: auto;
}

/* crear publicación */
#post {
  flex-direction: row;
  background-color: var(--green-100);
  height:90px;
  padding: 0 1rem;
  row-gap: 1rem;
}

#post-user-info {
  display: flex;
}

#post-pfp {
  margin: 0px 10px 0px 0px;
  width: 72px;
}

#post-user-name {
  display: none;
  font-weight: bold;
  color: var(--grey-800);
  font-size: var(--H5-mobile);
  align-self: center;
}

#post-write-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

#post-bar {
  padding: 0.5rem 1em;
  width: 100%;
  height: 25px;
  align-self: center;
}

#createPost-options {
  display: none;
}

#multimedia-upload-btn {
  background-color: var(--green-200);
  border: 1px solid var(--green-600);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0.7rem 1rem;
  width: 100%;
  height: 53px;
  display: inline-block;
  cursor: pointer;
  color: var(--green-800);
}

input[type="file"] {
  display: none;
}

.createPost-btns-bar {
  display: flex;
  column-gap: 1rem;
}

#save-draft-btn, #post-btn {
  width: 50%;
  padding: 0.7rem 0;
}

#post-btn {
  background-color: var(--green-500);
}

/* publicacion */
.post-info {
  display: flex;
  justify-content: space-between;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.feed .user-info .profile-picture {
  height: auto;
  width: 52px;
}

.post-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-conf {
  background-color: transparent;
  border: none;
  align-self: baseline;
  color: var(--grey-400);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--H5-desktop);
}

#more {
  display: none;
}

#readMore {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-family: var(--font-family);
  font-size: clamp(var(--p-mobile), var(--p-desktop), var(--p-desktop));
  color: var(--grey-200);
}

#readMore:hover {
  color: var(--green-700);
}

.reaction-bar {
  display: flex;
  justify-content: space-between;
}

.like-btn, .comments-btn {
  color: var(--green-600);
  background-color: transparent;
  border: none;
  transition: transform .2s;
}

.like-btn:hover, .comments-btn:hover {
  color: var(--green-700);
  transform: scale(1.1);
}

/* Seccion de amigos */
.mrk-border {
  border-bottom: 1px solid #d9d9d9;
}

.my-friends .user-info .profile-picture {
  width: 42px;
}

.friend-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}

.friend-tag .tiny-info {
  font-size: var(--p-mobile);
  text-decoration: underline;
}

.tiny-name {
  font-size: var(--H5-mobile);
  font-weight: bold;
}

/* Estilos para el popup de notificaciones */
.notifications-link.active {
  color: white;
}

.notifications-link.active .icon {
  filter: brightness(0) invert(1); 
}

.notifications-popup {
  width: 400px;
  max-height: 80vh;
  display: none;
  position: absolute;
  background-color: var(--green-100); 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: none;
  overflow: hidden;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  padding: 20px;
  background-color: var(--green-100);
  color: var(--green-950);
  border-radius: 12px 0;
}

.popup-header h5 {
  margin: 0;
  font-weight: 600;
  font-size: var(--H5-desktop);
}

.popup-content {
  max-height: min(600px, 80vh);
  overflow-y: auto;
  background-color: var(--green-100);
  padding: 0 20px;
}

.notification-item {
  display: flex;         
  flex-direction: row;    
  align-items: center;  
  gap: 12px;             
  padding: 12px 30px 12px 0;
  position: relative;
}

.notification-item:hover { 
  background-color: rgba(255, 255, 255, 0.3); 
}

.user-avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.notification-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: transparent;
}

.notification-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(52%) sepia(91%) saturate(266%) hue-rotate(122deg) brightness(92%) contrast(87%); /* Filtro para color green-500 */
}

.notification-text {
  flex-grow: 1;
}

.notification-text p {
  margin: 0;
  color: var(--green-950);
  font-size: var(--p-desktop);
  line-height: 1.5;
}

.notification-text strong {
  font-weight: 600;
  color: black;
}

.notification-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--grey-400);
  font-size: var(--H6-desktop);
  padding: 8px;
}

.notification-menu:hover {
  color: var(--green-600);
}

.notification-footer {
  padding: 12px 0;
  text-align: left;
}

.notification-footer a {
  color: var(--green-950);
  font-size: var(--p-desktop);
  text-decoration: underline;
  font-weight: 500;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  left: -4px; 
}

.notification-footer a:hover {
  color: var(--green-950);
  text-decoration: underline;
}

.popup-content::-webkit-scrollbar {
  width: 4px;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(16, 188, 162, 0.2);
  border-radius: 2px;
}

.close-popup {
  background: transparent; 
  border: none; 
  font-size: var(--H4-desktop); 
  color: var(--green-950); 
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
  transition: color 0.2s ease;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-popup:hover {
  color: var(--green-800); 
  background: transparent; 
  transform: scale(1.1); 
}


/* Responsive popup*/
@media (max-width: 768px) {
  .notifications-popup {
    width: 92vw;
    right: 4vw !important;
  }
  
  .popup-content {
    padding: 0 16px;
  }
}

/* Responsive design */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .home-content {
    width: 100%;
  }

  input.search-bar,
  .profile-card,
  .my-friends,
  .navbar-nav {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-around;
  }

  .center {
    width: 100%;
  }

  .search-friends {
    margin-left: auto;
  }
}

@media (max-width: 320px) {
  .nav-link label {
    display: none;
  }
}

/*Estilos de Login*/

.gradient-background {
  position: absolute;
  top: -25%;
  margin: 0 auto;
  width: 125%;
  height: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #004D9B 0%, #00F0CC 100%);
  z-index: -1;
  display: flex;
  justify-content: center;  
  align-items: flex-end;
}

.welcome-icon {
  position: absolute;
  bottom: -8vh;
  height: clamp(10rem, 20vw, 13rem);
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  overflow-x: hidden;
}

.login-h3 {
  font-size: clamp(var(--H3-mobile), 2vw, var(--H3-desktop));
  color: var(--green-600);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: clamp(15rem, 95%, 22rem);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--grey-400);
  border-radius: 0.5rem;
  background-color: transparent;
  color: var(--grey-800);
  font-size: clamp(var(--H6-mobile), 2vw, var(--H6-desktop));
  padding: 1rem;
}

.input-group input:focus {
  outline: none;
  border-color: var(--green-950);
}

.text-action  {
  text-align: right;
  font-size: clamp(var(--p-mobile), 0.5vw, var(--p-desktop));
}

.text-action  a {
  color: var(--green-950);
  text-decoration: underline;
}
.primary-btn {
  background-color: var(--green-500);
  color: white;
  font-weight: 700;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: clamp(var(--H6-mobile), 1vw, var(--H6-desktop));
  transition: background-color 0.25s ease-in-out;
}

.primary-btn:hover {
  background-color: var(--green-700);
}

.text-action.register,
.text-action.login {
  text-align: center;
}

/*Estilos Register*/
.fingerprint {
  position: absolute;
  bottom: 2rem;
  height: clamp(5rem, 20vw, 8rem);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: clamp(10rem, 95%, 45rem);
}

.register-form .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

@media (max-width: 768px) {
  .register-form .input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  
  .input-group input {
    padding: 0.75rem;
    grid-column: span 2;
  }
  
  .input-group input:nth-child(2),
  .input-group input:nth-child(1) {
    grid-column: span 1;
  }

 .register.gradient-background {
    top: -30%;
  }
    
}
/* Estilos para el popup de notificaciones */
.notifications-link.active {
  color: white;
}

.notifications-link.active .icon {
  filter: brightness(0) invert(1); 
}

.notifications-popup {
  width: 400px;
  max-height: 80vh;
  display: none;
  position: absolute;
  background-color: rgb(203,252,240); 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: none;
  overflow: hidden;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  padding: 20px;
  background-color: var(--green-100);
  color: var(--green-950);
  border-radius: 12px 0;
}

.popup-header h5 {
  margin: 0;
  font-weight: 600;
  font-size: var(--H5-desktop);
}

.popup-content {
  max-height: min(600px, 80vh);
  overflow-y: auto;
  background-color: var(--green-100);
  padding: 0 20px;
}

.notification-item {
  display: flex;         
  flex-direction: row;    
  align-items: center;  
  gap: 12px;             
  padding: 12px 30px 12px 0;
  position: relative;
}

.notification-item:hover { 
  background-color: rgba(255, 255, 255, 0.3); 
}

.user-avatar-container {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.user-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.notification-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: transparent;
}

.notification-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(52%) sepia(91%) saturate(266%) hue-rotate(122deg) brightness(92%) contrast(87%); /* Filtro para color green-500 */
}

.notification-text {
  flex-grow: 1;
}

.notification-text p {
  margin: 0;
  color: var(--green-950);
  font-size: var(--p-desktop);
  line-height: 1.5;
}

.notification-text strong {
  font-weight: 600;
  color: black;
}

.notification-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--grey-400);
  font-size: var(--H6-desktop);
  padding: 8px;
}

.notification-menu:hover {
  color: var(--green-600);
}

.notification-footer {
  padding: 12px 20px;
  text-align: left;
}

.notification-footer a {
  color: var(--green-950);
  font-size: var(--p-desktop);
  text-decoration: underline;
  font-weight: 500;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  left: -4px; 
}

.notification-footer a:hover {
  color: var(--green-950);
  text-decoration: underline;
}

.popup-content::-webkit-scrollbar {
  width: 4px;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(16, 188, 162, 0.2);
  border-radius: 2px;
}

.close-popup {
  background: transparent; 
  border: none; 
  font-size: var(--H4-desktop); 
  color: var(--green-950); 
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
  transition: color 0.2s ease;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-popup:hover {
  color: var(--green-800); 
  background: transparent; 
  transform: scale(1.1); 
}


/* Responsive popup*/
@media (max-width: 768px) {
  .notifications-popup {
    width: 92vw;
    right: 4vw !important;
  }
  
  .popup-content {
    padding: 0 16px;
  }
}

